.MuiGrid-item {
  text-align: center;
}

.arc text {
  font: 15px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

body {
  /* font-family: sans-serif; */
  margin: 0;
}

.fas,
.far {
  margin-left: 40%;
  transform: scale(4);
}

.sidebar {
  background-color: #3f51b5;
  height: 100vh !important;
  width: 33vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  color: #ffffff;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
}

.sideText {
  padding: 5%;
}

.mapboxgl-popup-content {
  height: 75vh;
  width: 45vw;
  position: fixed;
  margin-right: calc(50vw-10px);
  margin-bottom: calc(50vh-10px);
  background-color: transparent;
  overflow-y: scroll !important;
  overflow-x: scroll !important;
  background: rgba(256, 256, 256, 0.75) !important;
}
/* .mapboxgl-popup-content:hover {
  transform: scale(1.15, 1.15);
} */

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: transparent !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: transparent !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: transparent !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: transparent !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  -webkit-transform: rotateX(180deg) !important; /* Safari and Chrome */
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5) !important;
  -webkit-transform: rotateX(180deg) !important; /* Safari and Chrome */
}

button.mapboxgl-popup-close-button {
  zoom: 3 !important;
  background-color: white !important;
  position: sticky;
  z-index: 100;
  margin-left: 13.5vw;
}
.mapboxgl-popup-close-button:hover {
  background-color: white !important;
}

mapboxgl-popup-content {
  padding-top: 0px !important;
}

.MuiTypography-body1 {
  overflow: scroll;
}

#charts {
  /* width: 100vw !important; */
}

#formTop {
  display: flex;
  justify-content: space-around;
}

.MuiFab-extended.MuiFab-sizeSmall {
  width: 50% !important;
}

#barGraphContainer {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-container {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
